/* @media screen and (max-width: 1920px){
	
	 
	 
	 
 }
 
 
 
 
  @media screen and (max-width: 1195px){
	main{
	height:	1700px;
	
}

	 
 }
 
 
 
  @media screen and (max-width: 1015px){
	main{
	height:	1720px;
	
}
	 


	 
	 
 }
 
 
 
  @media screen and (max-width: 755px){
	main{
	height:	1900px;
	
}

.fixedLayout{
		margin: 0 auto;
		width: 600px; 
}

	 

	 
 }*/
 